@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer;
<div class="side-panel">
    <div>
        <a asp-controller="Profile" asp-action="Index">@_localizer["Profile"]</a>
    </div>
    <div>
        <a asp-controller="Profile" asp-action="Edit">@_localizer["Edit"]</a>
    </div>
    <div>
        <a asp-controller="Articles" asp-action="Create">@_localizer["CreatePost"]</a>
    </div>
    <div>
        <a asp-controller="Conversations" asp-action="Index">@_localizer["Conversations"]</a>
    </div>
    <div>
        <a asp-controller="Profile" asp-action="Liked">@_localizer["Liked"]</a>
    </div>
    <div>
        <a asp-controller="Profile" asp-action="Saved">@_localizer["Saved"]</a>
    </div>
    <div>
        <a asp-controller="Profile" asp-action="Wallet">@_localizer["Wallet"]</a>
    </div>
    <div>
            <a asp-controller="Profile" asp-action="Complaints">@_localizer["Complaints"]</a>
        </div>
    <div>
        <a asp-controller="Profile" asp-action="Logout">@_localizer["Exit"]</a>
    </div>
</div>