@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer;
@model ProfileInputViewModel
@{
    ViewData["Title"] = "Edit Profile";
}
<div class="container">

    <div class="d-flex justify-content-start">
        @{
            await Html.RenderPartialAsync("_ProfileSidePanel");
        }
        <div class="profile">
            <form method="POST" enctype="multipart/form-data">
                <div>
                    <h1>Profile editing</h1>
                    <div class="d-flex justify-content-between">
                        <div class="author-article d-flex justify-content-start align-items-center">
                            <div class="profile-pic">
                                <label class="-label" for="myFile">
                                    <span>
                                        Change photo
                                    </span>
                                </label>
                                <input type="file" id="myFile" name="photoName" accept="image/*" class="input-file" />
                                <img src="~/media/avatars/@Model.Photo" alt="photo" id="output" />
                            </div>
                            <div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.EditorFor(m=>m.Name)
                                </div>
                            </div>
                            <div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.EditorFor(m=>m.Surname)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.EditorFor(m=>m.Description)
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" asp-action="EditUser">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/EditPhoto.js" asp-append-version="true"></script>
