@using Microsoft.IdentityModel.Tokens
@model ArticlesViewModel
@{
    ViewData["Title"] = "Articles";
}

<div class="container">
    <h1>Articles</h1>
    <div class="d-flex justify-content-between">
        <div class="articles-content">
            @if (!Model.Articles.IsNullOrEmpty())
            {
                @foreach (var article in Model.Articles)
                {
                    <input type="hidden" id="@article.Id" />
                    <div class="article pb-3" target="@article.Id">
                        <h2>Name of article</h2>
                        <div class="author-article d-flex justify-content-start align-items-center">
                            <img class="d-block" src="~/media/ava.jpg" alt="avatar">
                            <p>Name Surname</p>
                        </div>
                        <p>16.06.2035</p>
                        <p>Category</p>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                            est laborum.
                        </div>
                        <div class="interactions">
                            <form class="d-flex justify-content-between" action="">
                                <div class="likes">
                                    
                                    <button class="d-block" type="submit" status="not-liked">
                                        <img src="~/media/not-liked.png" second="/media/liked.png" alt="">
                                    </button>
                                    @if (article.Likes.IsNullOrEmpty())
                                    {
                                        <p class="m-0">0</p>
                                    }else{
                                    <p class="m-0">@article.Likes.Count</p>
                                    }
                                </div>
                                <div class="savings">
                                    <button class="d-block" type="submit">
                                        <img src="~/media/savings.png" alt="">
                                    </button>
                                    @if (article.Savings.IsNullOrEmpty())
                                    {
                                        <p class="m-0">0</p>
                                    } else{
                                        <p class="m-0">@article.Savings.Count</p>
                                    }
                                </div>
                                <div class="comments">
                                    <button class="d-block" type="submit">
                                        <img src="~/media/comments.png" alt="">
                                    </button>
                                    @if (article.Comments.IsNullOrEmpty())
                                    {
                                        <p class="m-0">0</p>
                                    }
                                    else{
                                        <p class="m-0">@article.Comments.Count</p>
                                    }
                                </div>
                                <div class="download">
                                    <button class="d-block" type="submit">
                                        <img src="~/media/download.png" alt="">
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="comments-section">
                            <div>
                                <label>
                                    <input type="text" placeholder="Write a comment" name="comment">
                                </label>
                            </div>
                            <div>
                                <div class="comment pb-1">
                                    <div class="author-comment d-flex justify-content-start align-items-center">

                                        <img class="d-block" src="~/media/ava.jpg" alt="avatar">
                                        <p class="m-0">Name Surname</p>
                                    </div>
                                    <div>
                                        Comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3>There are no publications</h3>
            }
        </div>
        <div class="articles-filters">
            <form asp-controller="Articles" asp-action="ApplyFilters" method="GET">
                <div>
                    <label>
                        @Html.EditorFor(model => model.FilterInput.Search, 
                            new { htmlAttributes = new { @placelolder="Search", style="Width:100px" } })
                    </label>
                </div>
                <div>
                    <label asp-for="@Model.FilterInput.Sort"></label>
                    <select asp-for="@Model.FilterInput.Sort"
                            asp-items="@(new SelectList(Model.Filter.Sort, nameof(Model.Filter.Sort)))">
                    </select>
                </div>
                <div>
                    <label asp-for="@Model.FilterInput.Category"></label>
                    <select asp-for="@Model.FilterInput.Category"
                            asp-items="@(new SelectList(Model.Filter.Categories, nameof(Model.Filter.Categories)))">
                    </select>
                </div>
                <button asp-action="ApplyFilters" type="submit">Apply</button>
            </form>
        </div>
    </div>
</div>
