@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.IdentityModel.Tokens
@model ArticlesViewModel
@inject IViewLocalizer _localizer;
@{
    ViewData["Title"] = "Articles";
}

<div class="container">
    <h1>@_localizer["ArticlesTitle"]</h1>
    <div class="d-flex justify-content-between">
        <div class="articles-content">
            @if (Model.Articles != null)
            {
                @foreach (var article in Model.Articles)
                {
                    <input type="hidden" id="@article.Id"/>
                    <div class="article pb-3" target="@article.Id">
                        <h2>@article.Title</h2>
                        <div class="author-article d-flex justify-content-start align-items-center">
                            <img class="d-block" src="~/media/ava.jpg" alt="avatar">
                            <p>@article.User.Name @article.User.Surname</p>
                        </div>
                        <p>@article.Date</p>
                        <p>@article.CategoryName</p>
                        <p>Price: @article.Price</p>
                        <div>
                            @article.Text
                        </div>
                        <div class="interactions">
                            <form class="d-flex justify-content-between" action="">
                                <div class="likes">
                                    @if (!article.IsLiked)
                                    {
                                        <button class="d-block" type="submit" status="not-liked">
                                            <img src="~/media/not-liked.png" second="/media/liked.png" alt="">
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="d-block" type="submit" status="liked">
                                            <img src="~/media/liked.png" second="/media/not-liked.png" alt="">
                                        </button>
                                    }

                                    <p class="m-0">@article.LikesCount</p>

                                </div>
                                <div class="savings">
                                    @if (!article.IsSaved)
                                    {
                                        <button class="d-block" type="submit" statusSave="not-saved">
                                            <img src="~/media/not-saved.png" secondSave="/media/saved.png" alt="">
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="d-block" type="submit" statusSave="saved">
                                            <img src="~/media/saved.png" secondSave="/media/not-saved.png" alt="">
                                        </button>
                                    }

                                    <p class="m-0">@article.SavingsCount</p>

                                </div>
                                <div class="comments">
                                    <button class="d-block" type="submit">
                                        <img src="~/media/comments.png" alt="">
                                    </button>
                                    @if (article.Comments.IsNullOrEmpty())
                                    {
                                        <p class="m-0">0</p>
                                    }
                                    else
                                    {
                                        <p class="m-0">@article.Comments.Count</p>
                                    }
                                </div>
                                <div class="download">
                                    <button class="d-block" type="submit">
                                        <img src="~/media/download.png" alt="">
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="comments-section">
                            <div>
                                <label>
                                    <input class="comment-input" type="text" placeholder="Write a comment" name="comment">
                                </label>
                                <button class="sender-comment">Send</button>
                            </div>
                            <div class="comments-list">
                                @if (article.Comments != null)
                                {
                                    @foreach (var comment in article.Comments)
                                    {
                                        <div class="comment pb-1 d-flex justify-content-between" targetComment="@comment.Id">
                                            <div>

                                                <div class="author-comment d-flex justify-content-start align-items-center">

                                                    <img class="d-block" src="~/media/ava.jpg" alt="avatar">
                                                    <p class="m-0">@comment.User.Name @comment.User.Surname</p>
                                                </div>
                                                <div>
                                                    @comment.Text
                                                </div>
                                            </div>

                                            <button class="delete-button">Delete</button>

                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3>There are no publications</h3>
            }
        </div>
        <div class="articles-filters">
            <form asp-controller="Articles" asp-action="Index" method="GET">
                <div>
                    <label asp-for="@Model.FilterInput.Search">@_localizer["Search"]</label>
                    @Html.EditorFor(model => model.FilterInput.Search,
                        new { htmlAttributes = new { @placelolder = "Search", style = "Width:100px", name = "search" } })

                </div>
                <div>
                    <label asp-for="@Model.FilterInput.Sort">@_localizer["TypeSorting"]</label>
                    <select asp-for="@Model.FilterInput.Sort">
                        @foreach (var sortType in Model.Filter.Sort)
                        {
                            <option value=@sortType name="sortType">@sortType</option>
                        }
                    </select>
                </div>
                <div>
                    <label asp-for="@Model.FilterInput.SortOrder">@_localizer["OrderSorting"]</label>
                    <select asp-for="@Model.FilterInput.SortOrder">
                        @foreach (var sortType in Model.Filter.SortOrder)
                        {
                            <option value=@sortType name="sortType">@sortType</option>
                        }
                    </select>
                </div>
                <div>
                    <label asp-for="@Model.FilterInput.Category">@_localizer["Category"]</label>
                    <select asp-for="@Model.FilterInput.Category">
                        @foreach (var category in Model.Filter.Categories)
                        {
                            <option value=@category.Id name="category">@category.Name</option>
                        }
                    </select>
                </div>
                <button asp-action="Index" type="submit">@_localizer["Apply"]</button>
            </form>
        </div>
    </div>
</div>