@using Microsoft.AspNetCore.Mvc.Localization;
@model ConversationInputViewModel;
@inject IViewLocalizer _localizer;
@{
    ViewData["Title"] = "Create Conversations";
}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        <div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div>
            <label for="name">
                Name
            </label>
            <input type="text" name="name" placeholder="Name" asp-for="@Model.Name" />
        </div>
        <div class="profile-pic">
            <label class="-label" for="myFile">
                <span>
                    Upload photo
                </span>
            </label>
            <input type="file" id="myFile" name="photoFile" accept="image/*" class="input-file" />
            <img src="~/media/ava.jpg" alt="photo" id="output" />
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Participants, "", new { @class = "text-danger" })
        </div>
        <div>
            <label for="participants">
                Select participants
            </label>
            <select name="participants" id="participants" multiple>
                @for (int i = 0; i < ViewBag.Users.Count; i++)
                {
                    <option asp-for="Participants" value="@ViewBag.Users[i].FollowingUser.Id">@ViewBag.Users[i].FollowingUser.Name @ViewBag.Users[i].FollowingUser.Surname</option>
                }
            </select>
        </div>
        <button type="submit">Create</button>
    </form>
</div>
<script src="~/js/photo.js" asp-append-version="true"></script>