@using Microsoft.AspNetCore.Mvc.Localization;
@model ArticleViewModel
@inject IViewLocalizer _localizer;
@{
    ViewData["Title"] = "Payment";
}
<div class="container">
    
    <input type="hidden" id="@Model.Id"/>
    <div class="article pb-3" target="@Model.Id">
        <h2>@Model.Title</h2>
        <div class="author-article d-flex justify-content-start align-items-center">
            <img class="d-block" src="~/media/ava.jpg" alt="avatar">
            <p>
                <a href="@Url.Action("Index", "Users", new { tag = @Model.User.Tag })">
                    @Model.User.Name @Model.User.Surname
                </a>
            </p>
        </div>
        <p>@Model.Date</p>
        <p>@Model.CategoryName</p>
        <p>Price: @Model.Price</p>
        <div>
            @Model.Text
        </div>
        @if (Model.Price != 0)
        {
            <br>
            <p>To read full text, pay @Model.Price$ for this article</p>
            <br>
        }
        <div class="interactions">
            <form class="d-flex justify-content-between" action="">
                <div class="likes">
                    @if (!Model.IsLiked)
                    {
                        <button class="d-block" type="submit" status="not-liked">
                            <img src="~/media/not-liked.png" second="/media/liked.png" alt="">
                        </button>
                    }
                    else
                    {
                        <button class="d-block" type="submit" status="liked">
                            <img src="~/media/liked.png" second="/media/not-liked.png" alt="">
                        </button>
                    }

                    <p class="m-0">@Model.LikesCount</p>

                </div>
                <div class="savings">
                    @if (!Model.IsSaved)
                    {
                        <button class="d-block" type="submit" statusSave="not-saved">
                            <img src="~/media/not-saved.png" secondSave="/media/saved.png" alt="">
                        </button>
                    }
                    else
                    {
                        <button class="d-block" type="submit" statusSave="saved">
                            <img src="~/media/saved.png" secondSave="/media/not-saved.png" alt="">
                        </button>
                    }

                    <p class="m-0">@Model.SavingsCount</p>

                </div>
                <div class="comments">
                    <button class="d-block" type="submit">
                        <img src="~/media/comments.png" alt="">
                    </button>
                    @if (Model.Comments == null)
                    {
                        <p class="m-0">0</p>
                    }
                    else
                    {
                        <p class="m-0">@Model.Comments.Count</p>
                    }
                </div>
                <div class="download">
                    <button class="d-block" type="submit">
                        <img src="~/media/download.png" alt="">
                    </button>
                </div>
            </form>
        </div>
        <div class="comments-section">
            <div>
                <label>
                    <input class="comment-input" type="text" placeholder="Write a comment" name="comment">
                </label>
                <button class="sender-comment">Send</button>
            </div>
            <div class="comments-list">
                @if (Model.Comments != null)
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="comment pb-1 d-flex justify-content-between" targetComment="@comment.Id">
                            <div>

                                <div class="author-comment d-flex justify-content-start align-items-center">

                                    <img class="d-block" src="~/media/ava.jpg" alt="avatar">
                                    <p class="m-0">@comment.User.Name @comment.User.Surname</p>
                                </div>
                                <div>
                                    @comment.Text
                                </div>
                            </div>

                            <button class="delete-button">Delete</button>

                        </div>
                    }
                }

            </div>
        </div>
    </div>
    <form method="POST" asp-action="Pay">
        <input type="hidden" name="articleId" value="@Model.Id"/>
        <button type="submit"> Pay </button>
    </form>
</div>